.section-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.panel-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.title-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.panel-title h1 {
  font-size: 1.7rem;
}
.panel-title img {
  height: 40px;
  margin-right: 10px;
}
.item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 30px;
  border: 2px solid #ccc;
  min-height: 700px;
}
.section-container {
  display: none;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 20px;
  gap: 40px;
  flex-direction: row;
  row-gap: 10px;
}
.section-item {
  width: 200px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  position: relative;
  height: fit-content;
}
.section-item:hover {
  .icon-box {
    box-shadow: 0 0 12px 0 #9c9c9c;
  }
}
.icon-box {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 2px solid #ccc;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.icon-box img {
  height: 100px;
}
.icon-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.icon-text span {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}
.icon-text p {
  font-size: 0.9rem;
}
.icon-text-in {
  display: none;
  flex-direction: column;
  row-gap: 25px;
}
.icon-text-in span {
  font-weight: bold;
  color: #000;
  font-size: 0.9rem;
}
.icon-text-in p {
  font-size: 0.8rem;
}
.in-part{
  display: flex;
  row-gap: 5px;
  flex-direction: column;
}
.G1 {
  background-color: #d2ebc4;
}
.G2 {
  background-color: #ffd6e6;
}
.G3 {
  background-color: #fcfd95;
}
.G4 {
  background-color: #c5e3ff;
}
.G5 {
  background-color: #ddd1ff;
}
.G6 {
  background-color: #fec590;
}
.no-data-box-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
}
.no-data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-data-box img {
  height: 200px;
}
.no-data-box h1 {
  font-size: 1.2rem;
}
.section-btn {
  border-radius: 30px;
  background-color: #f5f5f5;
  width: 35px;
  padding: 5px;
  border: 2px solid #ccc;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.hidden-link {
  display: none;
}
.popup-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 3px 0 #9c9c9c;
  border-radius: 10px;
  list-style: none;
  padding: 10px;
  z-index: 5;
  top: 40px;
  right: 20px;
}
.popup-menu.show {
  display: block;
}
.popup-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popup-menu li {
  margin: 5px 0;
}
.popup-menu li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
  padding: 5px;
  display: block;
}
.popup-menu li a:hover {
  background-color: #f0f0f0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #ccc;
  width: 90%;
  max-width: 600px;
  border-radius: 30px;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  animation: slideIn 0.3s ease-out;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
  display: none;
}
.modal-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.modal-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.close-btn {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
.modal-content h2 {
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 1rem;
}
select {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: #fff;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px;
  font-size: 1rem;
}
select:focus {
  border: 2px solid #ccc;
}
select option {
  padding: 10px;
}
.save-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  float: right;
  border-radius: 30px;
  border: 2px solid #ccc;
}
.save-btn:hover {
  background-color: #45a049;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
}
.add-btn {
  background-color: #4caf50;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}
.add-btn:hover {
  background-color: #45a049;
}
.tab-controller {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  padding-bottom: 0;
  justify-content: space-between;
}
.tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.tab-item {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: fit-content;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fff;
}
.tab-item:hover,
.tab-item.active {
  font-weight: bold;
  background-color: #c5e3ff;
}
.search-container {
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
}
#sectionSearch {
  width: 100%;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 0.9rem;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 43%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: #888; 
}
select.filter-dropdown {
  padding: 10px;
  font-size: 16px;
  width: 160px;
  border-radius: 20px;
  border: 2px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  background-image: none;
}
select.filter-dropdown:focus,
select.filter-dropdown:hover {
  border-color: #000;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.2);
  outline: none;
}
@media (max-width: 1200px) {
  .section-item {
    width: 28%;
  }
  .icon-box img {
    height: 90px;
  }
}
@media (max-width: 992px) {
  select.filter-dropdown {
    width: 130px;
    font-size: 14px;
    padding: 8px;
  }
  .tab-item {
    font-size: 0.9rem;
  }
  .panel-title h1 {
    font-size: 1.6rem;
  }
  .panel-title img {
    height: 35px;
  }
  .section-container {
    padding: 40px;
    min-height: 500px;
    gap: 40px;
  }
  .section-item {
    width: 28%;
  }
  .add-btn {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  #sectionSearch {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 28px;
    font-size: 0.9rem;
  }
  .search-icon {
    font-size: 1.2rem;
  }
  .panel-title h1 {
    font-size: 1.5rem;
  }
  .section-container {
    padding: 20px;
    gap: 20px;
  }
  .icon-box img {
    height: 80px;
  }
  .icon-text span {
    font-size: 0.9rem;
  }
  .icon-text p {
    font-size: 0.8rem;
  }
  .no-data-box h1 {
    font-size: 1.1rem;
  }
  .add-btn {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  select.filter-dropdown {
    width: 90px;
    font-size: 12px;
    padding: 8px;
  }
  .tab-controller {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .search-container{
    width: 100%;
  }
  #sectionSearch {
    max-width: none;
  }
  .tab-item {
    font-size: 0.8rem;
    padding: 10px 15px;
  }
  .modal-content {
    width: 95%;
  }
  .section-container {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    min-height: 600px;
  }
  .section-item {
    width: 100%;
  }
  .icon-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .icon-text-in {
    display: flex;
  }
  .icon-text {
    display: none;
  }
  .no-data-box h1 {
    font-size: 1rem;
  }
  .add-btn {
    font-size: 0.7rem;
  }
}
