.lesson-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lesson-panel .title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lesson-panel .title-box .text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lesson-panel .title-box .text-box img {
  height: 3rem;
  margin-right: 15px;
}
.lesson-panel .title-box .text-box h1 {
  font-size: 1.5rem;
}
.module-btn {
  height: 50px;
  margin-right: 10px;
  display: none;
  align-items: center;
  padding: 5px 10px;
  border-radius: 50px;
}
.module-btn:hover {
  background-color: #dadada;
}
.show-modules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lesson-container {
  background: #f5f5f5;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border: 2px solid #ccc;
}
.tab-controller {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 10px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  padding: 10px 20px;
  border-radius: 30px;
  width: fit-content;
  cursor: pointer;
}
.tab-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: 600px;
}
.lesson-header {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 30px;
}
.header-bg {
  position: relative;
  width: 100%;
  height: 120px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}
.icon-container {
  position: absolute;
  z-index: 4;
  left: 80%;
  top: 40%;
}
.icon-container img {
  height: 7.5rem;
}
.header-text {
  position: relative;
  height: 80px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}
.header-text h1 {
  font-size: 1.7rem;
  margin-bottom: 5px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-text span {
  font-size: 1rem;
}
.lesson-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.lesson-content .module-container {
  width: 25%;
}
.module-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  gap: 15px;
  align-items: center;
  border: 2px solid #ccc;
}
.module-item span {
  font-size: 1rem;
  font-weight: bold;
}
.module-box .module-item {
  height: 60px;
  width: 80%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 #9c9c9c;
  border: 2px solid #ccc;
  cursor: pointer;
}
.module-box .module-item:hover {
  box-shadow: 0 0 12px 0 #9c9c9c;
}
.lesson-box {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 20px;
}
.lesson-item {
  border-radius: 30px;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border: 2px solid #ccc;
}
.lesson-title {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.lesson-title h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.lesson-title span {
  font-size: 1rem;
  color: #8f6e7c;
}
.view-lesson {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.view-lesson i {
  font-size: 1rem;
  margin-left: 5px;
}
.view-lesson:hover {
  color: #555;
}
.no-data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-data-box img {
  height: 200px;
}
.no-data-box h1 {
  font-size: 1.2rem;
}
.quarter-1 {
  background-color: #ff8080;
}
.quarter-2 {
  background-color: #efcb8e;
}
.quarter-3 {
  background-color: #96dbeb;
}
.quarter-4 {
  background-color: #8497e5;
}
.fil {
  background-color: #ff8080;
}
.fil-item {
  background-color: #ffbebf;
}
.eng {
  background-color: #ffb480;
}
.eng-item {
  background-color: #ffd3a8;
}
.math {
  background-color: #fff981;
}
.math-item {
  background-color: #e0dc97;
}
.sci {
  background-color: #42d6a4;
}
.sci-item {
  background-color: #8fe3c7;
}
.esp {
  background-color: #08cad1;
}
.esp-item {
  background-color: #96d8da;
}
.mt {
  background-color: #59adf6;
}
.mt-item {
  background-color: #aed0ed;
}
.ap {
  background-color: #f0bad1;
}
.ap-item {
  background-color: #f6bbd4;
}
.mapeh {
  background-color: #a3adff;
}
.mapeh-item {
  background-color: #b8bff3;
}
.epp {
  background-color: #d9ae9d;
}
.epp-item {
  background-color: #edc9bb;
}
.text-center{
  text-align: center!important;
}
.tab.ap, .tab.fil, .tab.eng, .tab.math, .tab.sci, .tab.esp, .tab.mt, .tab.mapeh, .tab.epp {
  background-color: #fff;
}
.tab.ap.active,
.tab.ap:hover {
  background-color: #f0bad1;
}
.tab.fil.active,
.tab.fil:hover {
  background-color: #ff8080;
}
.tab.eng.active,
.tab.eng:hover {
  background-color: #ffb480;
}
.tab.math.active,
.tab.math:hover {
  background-color: #fff981;
}
.tab.sci.active,
.tab.sci:hover {
  background-color: #42d6a4;
}
.tab.esp.active,
.tab.esp:hover {
  background-color: #08cad1;
}
.tab.mt.active,
.tab.mt:hover {
  background-color: #59adf6;
}
.tab.mapeh.active,
.tab.mapeh:hover {
  background-color: #a3adff;
}
.tab.epp.active,
.tab.epp:hover {
  background-color: #d9ae9d;
}
.passed,
.failed,
.fair {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
}
.passed {
  background-color: #4caf50;
}
.failed {
  background-color: #c85650;
}
.fair {
  background-color: #fce344;
}
.pastel-pink {
  background-color: #ffd6e6;
}
.pastel-blue {
  background-color: #c5e3ff;
}
.data-table {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #ccc;
}
.data-table thead th {
  text-align: center !important;
  font-weight: bold;
  padding: 12px;
  border-bottom: 3px solid #ddd;
  height: 50px;
}
.data-table tbody td {
  padding: 10px;
  text-align: left;
}
.data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.data-table tbody tr:hover {
  background-color: #eaeaea;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before {
  content: "\f067"; /* Font Awesome icon for plus */
  font-family: "Font Awesome 5 Free"; /* Specify Font Awesome font */
  font-weight: 900; /* Make icon bold */
  font-size: 16px; /* Adjust size */
  color: #fff;
  margin-right: 10px;
}
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td:first-child:before {
  content: "\f068"; /* Font Awesome icon for minus */
  font-size: 10px;
}
.dtr-details {
  background-color: #f9f9f9; /* Light background for hidden details */
  font-size: 12px;
  padding: 8px;
}
/* Optional: Hover effect for toggle buttons */
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr:hover
  > td:first-child:before {
  color: #fff;
  transition: color 0.3s ease; /* Smooth transition */
}
table.dataTable tbody td.dataTables_empty {
  text-align: center; /* Center the text horizontally */
  vertical-align: middle; /* Center it vertically */
  font-weight: bold;
  color: #333;
}
.center-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.bold-text {
  font-weight: bold;
}
.quiz-item {
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px 0 #9c9c9c;
  padding: 20px;
  border: 2px solid #ccc;
}
.question-box {
  text-align: justify;
  margin-bottom: 10px;
}
.question-box span {
  font-size: 1.1rem;
}
.quiz-ans-fixed {
  margin-top: 5px;
  width: 100%;
  padding: 5px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  font-size: 1.1rem;
}
.correct {
  background-color: #addca5;
}
.wrong {
  background-color: #ffa5a5;
}
.quiz-ans-fixed.fil {
  border:4px solid #ff8080;
}
.quiz-ans-fixed.eng {
  border:4px solid #ffb480;
}
.quiz-ans-fixed.math {
  border:4px solid #f8f28d;
}
.quiz-ans-fixed.sci {
  border:4px solid #42d6a4;
}
.quiz-ans-fixed.esp {
  border:4px solid #08cad1;
}
.quiz-ans-fixed.mt {
  border:4px solid #59adf6;
}
.quiz-ans-fixed.ap {
  border:4px solid #f0bad1;
}
.quiz-ans-fixed.mapeh {
  border:4px solid #a3adff;
}
.quiz-ans-fixed.epp {
  border:4px solid #d9ae9d;
}
.container-title{
  width: 100%;
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  align-items: center;
}
.container-title img{
  height: 2rem;
  margin-right: 10px;
}
.container-title h1{
  font-size: 1.5rem;
}
.table-responsive {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
}
.more-btn {
  color: #fff;
  background-color: #4caf50;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  cursor: pointer;
}
.more-btn:hover {
  background-color: #45a049;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content-quiz {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 30px;
  gap: 15px;
  max-width: 1200px;
  animation: slideIn 0.3s ease-out;
}
.modal-content-quiz {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal-content-quiz::-webkit-scrollbar {
  display: none;
}
.modal-head-quiz {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.student-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.student-info span {
  font-size: 1.2rem;
  font-weight: 500;
}
.modal-quiz-header {
  width: 100%;
  box-shadow: 0 0 2px 0 #9c9c9c;
  border-radius: 30px;
  border: 2px solid #ccc;
}
.close-btn {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  color: #aaa;
  text-decoration: none;
}
.modal-header-bg {
  position: relative;
  width: 100%;
  height: 120px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 2;
}
.modal-icon-container {
  position: absolute;
  z-index: 4;
  left: 85%;
  top: 50%;
}
.modal-icon-container img {
  height: 6rem;
}
.modal-header-text {
  position: relative;
  height: 80px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}
.modal-header-text h1 {
  font-size: 1.5rem;
}
.modal-header-text img {
  height: 2.3rem;
  margin-right: 10px;
}
.modal-direction {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 10px 20px;
}
.modal-direction span {
  font-size: 1.2rem;
}
.modal-quiz-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.save-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  float: right;
  border-radius: 30px;
  border: 2px solid #ccc;
}
.save-btn:hover {
  background-color: #45a049;
}
@media (max-width: 1200px) {
  .modal-icon-container {
    left: 80%;
  }
  .modal-header-text img {
    height: 2rem;
  }
  .modal-header-text h1 {
    font-size: 1.3rem;
  }
  .table-responsive {
    width: 90%;
  }
  .lesson-panel .title-box .text-box img {
    height: 2.7rem;
  }
  .lesson-panel .title-box .text-box h1 {
    font-size: 1.4rem;
  }
  .module-box .module-item {
    width: 150px;
  }
  .module-box h1 {
    font-size: 1.1rem;
  }
  .no-data-box h1 {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .modal-direction span {
    font-size: 1.1rem;
  }
  .student-info span {
    font-size: 1.1rem;
  }
  .module-box {
    padding: 20px 10px;
  }
  .module-box .module-item {
    width: 90%;
  }
  .icon-container img {
    height: 7rem;
  }
  .no-data-box h1 {
    font-size: 1rem;
  }
  .question-box span {
    font-size: 1rem;
  }
  .modal-content-quiz {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .modal-icon-container img {
    height: 4.8rem;
  }
  .modal-icon-container {
    left: 80%;
  }
  .modal-content-quiz {
    width: 85%;
  }
  .container-title img{
    height: 1.8rem;
  }
  .container-title h1{
    font-size: 1.3rem;
  }
  .lesson-panel .title-box .text-box img {
    height: 2.5rem;
  }
  .lesson-panel .title-box .text-box h1 {
    font-size: 1.3rem;
  }
  .lesson-container {
    gap: 15px;
    padding: 15px;
  }
  .module-container {
    display: none;
  }
  .module-btn {
    display: flex;
  }
  .lesson-box {
    width: 100%;
  }
  .header-text h1 {
    max-width: 500px;
    font-size: 1.5rem;
  }
  .header-text span {
    font-size: 0.9rem;
  }
  .icon-container {
    left: 80%;
  }
  .icon-container img {
    height: 6.5rem;
  }
  .lesson-box {
    gap: 15px;
  }
  .lesson-title h1 {
    font-size: 1.4rem;
  }
  .lesson-title span {
    font-size: 0.9rem;
  }
  .view-lesson {
    font-size: 0.9rem;
  }
  .view-lesson i {
    font-size: 0.9rem;
  }
  .no-data-box h1 {
    font-size: 0.9rem;
  }
  .table-responsive{
    max-width: 550px;
  }
}
@media (max-width: 600px) {
  .modal-icon-container {
    left: 70%;
  }
  .more-btn {
    padding: 5px 8px;
    font-size: 0.8rem;
  }
  .modal-direction span {
    font-size: 1rem;
  }
  .modal-header-text h1 {
    font-size: 1.1rem;
  }
  .modal-header-text img {
    height: 1.5rem;
  }
  .modal-header-text {
    padding: 10px;
  }
  .student-info span {
    font-size: 1.1rem;
  }
  .modal-content-quiz {
    width: 90%;
  }
  .table-responsive {
    max-width: 500px;
  }
  .tab-controller {
    gap: 10px;
  }
  .tab {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
  .no-data-box h1 {
    font-size: 0.8rem;
  }
  .lesson-container {
    gap: 10px;
    padding: 5px;
  }
  .lesson-box {
    gap: 10px;
  }
  .icon-container {
    left: 75%;
    top: 50%;
  }
  .icon-container img {
    height: 5.5rem;
  }
  .header-text {
    padding: 15px;
  }
  .header-text h1 {
    max-width: 300px;
    font-size: 1.3rem;
  }
  .lesson-title h1 {
    font-size: 1.1rem;
  }
  .lesson-title span {
    font-size: 0.8rem;
  }
  .view-lesson {
    font-size: 0.8rem;
  }
  .view-lesson i {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .table-responsive {
    max-width: 400px;
  }
}
@media (max-width: 460px) {
  .table-responsive {
    max-width: 380px;
  }
}
@media (max-width: 425px) {
  .table-responsive {
    max-width: 330px;
  }
  .header-text h1 {
    max-width: 250px;
    font-size: 1.1rem;
  }
  .tab-controller {
    gap: 5x;
  }
  .tab {
    padding: 10px;
    font-size: 0.8rem;
  }
  .icon-container {
    left: 73%;
  }
}
@media (max-width: 375px) {
  .question-box span {
    font-size: 0.8rem;
  }
  .modal-icon-container img {
    height: 4.5rem;
  }
  .modal-icon-container {
    left: 65%;
    top: 55%;
  }
  .modal-content-quiz {
    width: 95%;
  }
  .table-responsive {
    max-width: 280px;
  }
  .modal-direction span {
    font-size: 0.9rem;
  }
  .tab {
    padding: 8px;
    font-size: 0.7rem;
  }
  .lesson-item {
    padding: 10px;
  }
  .icon-container {
    left: 75%;
    top: 50%;
  }
  .icon-container img {
    height: 5rem;
  }
  .lesson-title span {
    font-size: 0.6rem;
  }
  .view-lesson {
    font-size: 0.6rem;
  }
  .view-lesson i {
    font-size: 0.6rem;
  }
  .student-info span {
    font-size: 0.9rem;
  }
}
