.help-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .panel-title {
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .panel-box {
    width: 100%;
    background-color: #fad9ec;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
  }
  .panel-part {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .panel-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  .panel-item:hover {
    background-color: #ffecf7;
  }
  .item-icon {
    margin-right: 15px;
  }
  .item-icon img {
    height: 40px;
    width: 40px;
  }
  .item-text {
    display: flex;
    flex-direction: column;
  }
  .item-text h2 {
    font-size: 1.4rem;
  }
  .item-text span {
    font-size: 0.9rem;
  }
  .box-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .box {
    width: 32%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 200px;
    text-decoration: none;
    color: #000;
    border: 2px solid #ccc;
    cursor: pointer;
  }
  .box:hover {
    box-shadow: 0 0 12px 0 #9c9c9c;
  }
  .box img {
    height: 80px;
    margin-bottom: 15px;
  }
  .faq {
    background-color: #b9d1fd;
  }
  .guides {
    background-color: #f6e577;
  }
  .updates {
    background-color: #a2ddcd;
  }
  @media (max-width: 992px) {
    .content {
      padding: 5px;
    }
    .panel-title {
      font-size: 0.6rem;
    }
    .panel-box {
      padding: 30px;
      margin-bottom: 10px;
    }
    .item-icon img {
      height: 35px;
      width: 35px;
    }
    .item-text h2 {
      font-size: 1.3rem;
    }
    .item-text span {
      font-size: 0.8rem;
    }
    .box {
      height: 180px;
    }
    .box img {
      height: 60px;
    }
    .box h1 {
      font-size: 1.5rem;
    }
  }
  @media (max-width: 768px) {
    .panel-box {
      padding: 20px 30px;
    }
    .item-text h2 {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 600px) {
    .panel-box {
      padding: 20px;
      flex-direction: column;
    }
    .panel-part {
      width: 100%;
    }
    .box {
      height: 120px;
    }
    .box img {
      height: 50px;
    }
    .box h1 {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 425px) {
    .box-container {
      flex-wrap: wrap;
    }
    .box h1 {
      font-size: 1rem;
    }
  }
  