@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Barcode+39&display=swap");
.profile-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-panel .title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-panel .title-box img {
  height: 2.5rem;
  margin-right: 15px;
}
.profile-panel .title-box h1 {
  font-size: 1.5rem;
}
.profile-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 30px;
}
.profile-bg {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("/SCES/assets/images/kids-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.id-box {
  top: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #c5e3ff;
  min-width: 600px;
  padding: 20px;
}
.id-image {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-right: 15px;
}
.id-image img {
  height: 180px;
  width: 200px;
  margin-bottom: 10px;
  border: 2px solid #000;
}
.id-image span {
  font-family: "Libre Barcode 39", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
.id-section {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.id-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.logo img {
  height: 60px;
  margin-right: 10px;
}
.logo span {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: #fff;
}
.motto {
  width: 100%;
  display: flex;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
.motto p {
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.blue-bg {
  background-color: #5a85f5;
}
.pink-bg {
  background-color: #fa4e91;
}
.blue {
  text-shadow: -2px -2px 0 #5a85f5, 2px -2px 0 #5a85f5, -2px 2px 0 #5a85f5,
    2px 2px 0 #5a85f5;
}
.pink {
  text-shadow: -2px -2px 0 #fa4e91, 2px -2px 0 #fa4e91, -2px 2px 0 #fa4e91,
    2px 2px 0 #fa4e91;
}
.id-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.id-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.id-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.id-col p {
  font-size: 0.8rem;
}
.id-col span {
  font-size: 1.2rem;
  font-weight: bold;
}
.male {
  background-color: #c5e3ff;
}
.female {
  background-color: #ffd6e6;
}
.side-controller {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px 20px;
}
.side-controller .tab-item {
  width: fit-content;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  border: 2px solid #000;
}
.side-controller .tab-item:hover {
  background-color: #fce344;
}
.side-controller .tab-item.active {
  background-color: #fce344;
}
.dashed-line {
  border: none;
  border-top: 2px dashed #000;
  margin: 20px 0;
}
.fil {
  background-color: #ff8080;
}
.eng {
  background-color: #ffb480;
}
.math {
  background-color: #e1e149;
}
.sci {
  background-color: #42d6a4;
}
.esp {
  background-color: #08cad1;
}
.mt {
  background-color: #59adf6;
}
.ap {
  background-color: #f0bad1;
}
.mapeh {
  background-color: #a3adff;
}
.epp {
  background-color: #d9ae9d;
}
.profile-tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.info-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 20px;
}
.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.info-col {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.info-col p {
  font-size: 1.2rem;
  color: #797979;
  margin-bottom: 5px;
}
.info-col span {
  font-size: 1.3rem;
}
.data-table {
  margin-top: 20px;
}
.dataTables_wrapper {
  margin: 20px 0;
}
h2 {
  margin-top: 20px;
  font-size: 24px;
}
@media (width < 1199px) {
  .profile-panel .title-box img {
    height: 2.3rem;
  }
  .profile-panel .title-box h1 {
    font-size: 1.4rem;
  }
  .info-panel {
    gap: 0;
  }
  .info-row {
    flex-wrap: wrap;
  }
  .info-col p {
    font-size: 1.1rem;
  }
  .info-col span {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .info-col {
    width: 50%;
  }
  .info-panel .title-box {
    margin-bottom: 10px;
  }
}
@media (width < 992px) {
}
@media (width < 768px) {
  .profile-panel .title-box img {
    height: 2.1rem;
  }
  .profile-panel .title-box h1 {
    font-size: 1.3rem;
  }
  .id-box {
    min-width: 550px;
  }
}
@media (width < 600px) {
  .profile-bg {
    height: 320px;
  }
  .id-box {
    min-width: 450px;
  }
  .id-image img {
    height: 150px;
    width: 150px;
  }
  .id-image span {
    font-size: 2rem;
  }
  .logo img {
    height: 50px;
  }
  .logo span {
    font-size: 2.2rem;
  }
  .motto p {
    font-size: 0.7rem;
  }
  .id-col p {
    font-size: 0.7rem;
  }
  .id-col span {
    font-size: 1rem;
  }
  .info-col p {
    font-size: 1rem;
  }
  .info-col span {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .info-col {
    width: 100%;
  }
  .info-panel .title-box {
    margin-bottom: 10px;
  }
}
@media (width < 460px) {
  .id-box {
    top: 25px;
    min-width: 400px;
    padding: 15px;
  }
  .id-image img {
    height: 120px;
    width: 120px;
  }
  .dashed-line {
    margin: 15px 0;
  }
}
@media (width < 425px) {
  .profile-bg {
    height: 300px;
  }
  .id-box {
    min-width: 350px;
    padding: 15px;
  }
  .id-col p {
    font-size: 0.6rem;
  }
  .id-col span {
    font-size: 0.9rem;
  }
}
@media (width < 375px) {
  .id-box {
    min-width: 300px;
    padding: 10px 15px;
  }
  .dashed-line {
    margin: 10px 0;
  }
  .id-image img {
    height: 120px;
    width: 120px;
  }
  .id-image span {
    font-size: 1.8rem;
  }
  .logo img {
    height: 40px;
  }
  .logo span {
    font-size: 2rem;
  }
  .motto p {
    font-size: 0.5rem;
  }
  .id-col p {
    font-size: 0.5rem;
  }
  .id-col span {
    font-size: 0.7rem;
  }
}
