* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.max-content{
  display: flex;
  width: 100%;
  max-width: 1600px;
  gap: 10px;
}
.flex-container {
  width: 100%;
  margin: 40px 70px;
  align-items: center;
}
.sign-up{
  margin: 20px 70px;
}
.flex-container:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opening h1 {
  text-align: center;
  font-size: 25px;
  padding-bottom: 10px;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper img {
  height: 600px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wrapper img.img-500px {
  height: 500px;
}
.form-wrapper {
  background-color: #b6cbf9;
  border-radius: 30px;
  box-shadow: -4px 0 2px 0 #9c9c9c;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-img{
  align-self: center;
  height: 130px;
  width: 130px;
}
.link-text{
  right: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.link-text:hover{
  color: #aaa;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #b3b3b3;
  font-weight: bold;
  width: 100%;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #b3b3b3;
}
.separator:not(:empty)::before {
  margin-right: 25px;
}
.separator:not(:empty)::after {
  margin-left: 25px;
}
a.button-container{
  width: 80%;
  border-radius: 30px;
}
.btn-wrapper {
  border-radius: 30px;
  background-color: #dae5fc;
  width: 100%;
  padding: 10px;
  box-shadow: -4px 0 5px -2px #5b5b5b;
}
.btn-wrapper h1 {
  font-size: 22px;
  text-align: center;
  color: #353841;
}
.btn-wrapper:hover {
  background-color: #c5d3e5;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 40px;
}
.form-wrapper form.form-40px {
  padding: 30px;
}
.form-wrapper form h1 {
  text-align: center;
  margin: 20px;
  margin-bottom: 30px;
  font-size: 1.7rem;
}
.input-icons {
  width: 70%;
  max-width: 320px;
  margin-bottom: 25px;
  position: relative;
}
.input-icons-recover {
  width: 100%;
  max-width: 320px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  font-size: 0.9rem;
}
.input-icons-span {
  width: 70%;
  max-width: 320px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.input-icons i {
  position: absolute;
}
.input-icons span{
  position: absolute;
  right: 50px;
}
#toggleIcon{
  cursor: pointer;
}
#toggleConfirmIcon{
  cursor: pointer;
}
.icon {
  padding: 15px;
  color: #353841;
  min-width: 50px;
  text-align: center;
}
.form-wrapper form .input-icons input {
  border-radius: 30px;
  width: 100%;
  padding: 0 50px;
  height: 45px;
  box-shadow: -4px 0 5px -2px #5b5b5b;
  border-style: none;
  background-color: #fff;
  text-align: left;
}
.form-wrapper form .input-icons input:focus,
.form-wrapper form .input-icons select:focus {
  outline: none !important;
}
.form-wrapper form .input-icons input::placeholder {
  font-weight: bold;
  color: #74767c;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  font-weight: bold;
  color: #74767c;
}
.form-wrapper form .input-icons select {
  border-radius: 30px;
  width: 100%;
  padding: 0 45px;
  height: 45px;
  box-shadow: -4px 0 5px -2px #5b5b5b;
  border-style: none;
  background-color: #fff;
  text-align: left;
  font-weight: bold;
  color: #74767c;
  appearance: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url("../images/arrow-down.png");
  background-size: 15px;
  background-position: 95%;
  background-repeat: no-repeat;
}
.form-wrapper form button[type="submit"] {
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #183577;
  color: #fff;
  box-shadow: none;
  font-weight: bold;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.form-wrapper form button[type="submit"]:hover{
  background-color: #4066bf;
}
.create-btn {
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.max-center{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error-container {
  background-color: #FFEEEE;
  color: #B22222;
  padding: 20px;
  border: 2px solid #FFCCCC;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.error-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #A80000;
}
.error-icon {
  font-size: 3rem;
  color: #A80000;
  margin-bottom: 15px;
}
.error-container p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.error-container a {
  color: #A80000;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #A80000;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFF5F5;
  transition: background-color 0.3s;
}
.error-container a:hover {
  background-color: #FFDADA;
}
@media (max-width: 1200px) {
   .input-icons-span {
    width: 80%;
  }
  .separator {
    margin-left: 10px;
    width: 100%;
  }
  .btn-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .btn-wrapper h1 {
    font-size: 22px;
  }
  .flex-container {
    margin: 30px;
  }
  .column {
    padding: 0;
  }
  .wrapper img {
    min-height: 200px;
    max-height: 400px;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .opening h1 {
    font-size: 25px;
  }
  .wrapper {
    width: 100%;
  }
  .form-wrapper {
    margin: 0 10px;
    width: 100%;
  }
  .input-icons {
    width: 90%;
  }
  .form-wrapper form {
    padding: 3rem;
  }
}
@media (max-width: 992px) {
  .form-wrapper form h1 {
    font-size: 1.5rem;
  }
  .input-icons-span {
    width: 85%;
  }
  .logo-img{
    height: 120px;
    width: 120px;
  }
}
@media (max-width: 768px) {
  .opening {
    padding-top: 10px;
  }
  .separator {
    margin-left: 0;
    width: 100%;
  }
  .btn-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .btn-wrapper h1 {
    font-size: 16px;
  }
  .flex-container {
    margin: 0;
  }
  .right {
    padding: 0;
  }
  .column {
    width: 100%;
  }
  .opening {
    margin: 0;
    padding: 0;
  }
  .opening h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .wrapper {
    padding: 0;
    margin: auto;
  }
  .wrapper img {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
  }
  .right {
    padding: 10px 20px;
  }
  .form-wrapper {
    margin: 0;
    width: 100%;
    max-width: 500px;
  }
  .form-wrapper form h1 {
    margin: 0;
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .input-icons {
    margin-bottom: 20px;
  }
  .input-icons {
    margin-bottom: 15px;
  }
  .form-wrapper form input[type="submit"] {
    margin-top: 0;
  }
  .icon {
    padding: 12px;
  }
  .form-wrapper form .input-icons input {
    height: 40px;
  }
  .form-wrapper form .input-icons select {
    height: 40px;
  }
  .logo-img{
    height: 110px;
    width: 110px;
  }
}
@media (max-width: 600px) {
  .logo-img{
    height: 100px;
    width: 100px;
  }
  .opening {
    padding-top: 10px;
  }
  .separator {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .btn-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .flex-container {
    margin: 0;
  }
  .right {
    padding: 0;
  }
  .column {
    width: 100%;
  }
  .opening {
    margin: 0;
    padding: 0;
  }
  .opening h1 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .wrapper {
    padding: 0;
    margin: auto;
  }
  .wrapper img {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
  }
  .right {
    padding: 10px;
  }
  .form-wrapper {
    margin: 0;
    width: 100%;
  }
  .form-wrapper form h1 {
    margin: 0;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .input-icons {
    max-width: 250px;
    margin-bottom: 20px;
  }
  .input-icons-span {
    max-width: 250px;
    margin-bottom: 15px;
  }
  .input-icons-recover {
    max-width: 250px;
    margin-bottom: 15px;
    font-size: 0.8rem;
  }
  .form-wrapper form input[type="submit"] {
    margin-top: 0;
  }
  .form-wrapper form {
    padding: 2rem;
  }
}
