.subject-panel {
  width: 100%;
}
.subject-panel .title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subject-panel .title-box img {
  height: 3rem;
  margin-right: 15px;
}
.subject-panel .title-box h1 {
  font-size: 1.5rem;
}
.subject-box {
  background-color: #f5f5f5;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 40px;
  border: 2px solid #ccc;
  flex-direction: row;
  min-height: 600px;
}
.no-data-box-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 600px;
}
.subject-box a .box {
  width: 200px;
}
.subject-box a {
  width: 200px;
  text-decoration: none;
  color: #000;
}
.subject-box a:hover {
  .box-icon{
    box-shadow: 0 0 12px 0 #9c9c9c;
  }
}
.subject-box a .box .box-icon {
  border-radius: 30px;
  border: 2px solid #ccc;
}
.fil {
  background-color: #ff8080;
}
.eng {
  background-color: #ffb480;
}
.math {
  background-color: #e1e149;
}
.sci {
  background-color: #42d6a4;
}
.esp {
  background-color: #08cad1;
}
.mt {
  background-color: #59adf6;
}
.ap {
  background-color: #f0bad1;
}
.mapeh {
  background-color: #a3adff;
}
.epp{
  background-color: #d9ae9d;
}
.no-data-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-data-box img{
  height: 200px;
}
.no-data-box h1{
  font-size: 1.2rem;
}
.subject-box a .box .box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subject-box a .box .box-icon .box-title {
  display: none;
}
.subject-box a .box .box-icon img {
  padding: 20px;
  height: 150px;
}
.subject-box a .box .box-title {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.subject-box a .box .box-title h1 {
  font-size: 1.2rem;    
}
.subject-box a .box .box-title span {
  font-size: 0.9rem;
}
@media (max-width: 1200px) {
  .subject-panel .title-box img {
    height: 2.7rem;
  }
  .subject-panel .title-box h1 {
    font-size: 1.4rem;
  }
  .subject-box a {
    width: 20%;
  }
  .subject-box a .box {
    width: 100%;
  }
  .subject-box a .box .box-icon img {
    height: 7rem;
  }
  .subject-box a .box .box-title h1 {
    font-size: 0.9rem;
  }
  .subject-box a .box .box-title span {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .subject-box a{
    height: fit-content;
  }
  .no-data-box h1{
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .subject-panel .title-box img {
    height: 2.5rem;
  }
  .subject-panel .title-box h1 {
    font-size: 1.3rem;
  }
  .subject-box {
    gap: 20px;
    padding: 20px;
  }
  .subject-box a {
    width: 30%;
  }
  .subject-box a .box {
    width: 100%;
  }
  .subject-box a .box .box-title h1 {
    font-size: 1.1rem;
  }
  .subject-box a .box .box-title span {
    font-size: 0.8rem;
  }
  .no-data-box h1{
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .subject-box {
    gap: 10px;
    padding: 10px;
    flex-direction: column;
  }
  .subject-box a .box {
    width: 100%;
  }
  .subject-box a {
    width: 100%;
  }
  .subject-box a .box .box-title {
    display: none;
  }
  .subject-box a .box .box-icon {
    justify-content: space-between;
  }
  .subject-box a .box .box-icon .box-title {
    display: flex;
    row-gap: 40px;
    padding: 10px 20px;
  }
  .subject-box a .box .box-icon .box-title h1{
    color: #fff;
  }
  .subject-box a .box .box-icon .box-title span{
    color: #fff;
    font-weight: bold;
    font-size: 0.7rem;
  }
}
